.player {
    display: flex;
    align-items: center;
    width: 250px;
    background-color: bisque;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 16px;
    span {
        font-size: 24px;
        margin-left: 16px;
    }
    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: #c2185b;
}
