.start-screen {
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 100vh;
        width: 100%;
        object-fit: fill;
    }
}

.start-lable-box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 20vw;
        height: auto;

        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
        }
    }
}