.field {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/img/background2.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-stack {
    position: relative;
    img {
        position: absolute;
        width: 120px;
    }

}

.top-card {
    cursor: pointer;
    transition: all 100ms ease-in-out;
    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
    z-index: 10;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.7);
    }
    60% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
    }
}